<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <meta http-equiv="refresh" content="15">
    <title>Kirkcaldy_rota</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
  <body>
    <table class="table" >
        <tr class ="table__header">
            {% for header in headings %}
                {% set data = header %}
                {% set test = data.split("|")  %}
                <td class="table__header">  {{ test[0] }}{{ test[1] }} </td>
            {% endfor %}
        </tr>

        <tr class ="table__event">
		            {% for event in events %}
		                <th class="table__event">  {{ event }} </th>
		            {% endfor %}
        </tr>
         <tr class ="event__header">
		            {% for rotSec in rotSecs %}
		                <th class="table__header">  {{ rotSec }} </th>
		            {% endfor %}
        </tr>

        </tr>
         <tr class ="leader__header">
                {%  for row in leadRota %}
                     <tr>
		            {% for rotaLeader in row %}
                        {% set dat = rotaLeader %}
                        {% set test = dat.split("|")  %}
                        {% if test[0] == 'Leaders Rota' %}
                              <td class="leader__header"> ({{test[0]}})<p>{{test[1]}}</p> </td>
                        {% else %}
                            <td class="leader__header">  {{ rotaLeader }} </td>
                        {% endif %}
		            {% endfor %}
                     </tr>
                {% endfor %}
        </tr>
        <tr class ="event__header">
		            {% for ldSupport in leaderSupport %}
		                <th class="table__header">  {{ ldSupport }} </th>
		            {% endfor %}
        </tr>


        {%  for row in data %}
            <tr class="table__row">
            {% for cell in row %}
                  {% set dat = cell %}
                 {% set test = dat.split("|")  %}
                {% if test[0] == 'Kirkcaldy Rota' %}
                    <td class="table__cell"> ({{ test[0]}})<p>{{ test[1]}} </p> </td>
                    {% elif test[0] ==  'Prison Rota' %}
                    <td class="table__cell_prison"> ({{ test[0]}})<p>{{ test[1]}} </p> </td>
                       {% else %}
                    <td class="table__cell_closed"><p style="color:white">{{ cell }} </p> </td>
                {% endif %}
            {% endfor %}
            </tr>
         {% endfor %}
     </table>


      <table class="table__news" >
            <tr class="table__news_cell">
             {% for cell in newsdata %}
                 {% set test = cell.split("|")  %}
                 <td class="table__cell_news"><p style="color:white"><i>{{ test[0] }}</i> <b>{{ test[1] }} </b> <i>{{ test[2] }} </i> {{ test[3] }} </td>
             {% endfor %}
            </tr>

    </table>

  {% if heat_on==True %}
        <p> <img src="/static/flames.webp" alt="heating on" width="80px" height="40px"></p>
        {% elif heat_on==False %}
           <p> <img src="/static/shiver2.gif" alt="heating off" width="80px" height="40ps"></p>
        {%else %}
           <p> <img src="/static/offline.gif" alt="off line" width="80px" height="40px"></p>
    {% endif %}
</body>

</html>
